In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('pyspark-filter-operations').getOrCreate()
spark

In [3]:
df_pyspark = spark.read.csv('test1.csv',inferSchema=True,header=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
| Vaishnav| 24|        10| 50000|
|  Vaisakh| 13|         8| 40000|
|    Deepa| 46|         6| 30000|
|Sreekumar| 54|         4| 20000|
+---------+---+----------+------+

In [4]:
#Filtering datas in pyspark Method 1

df_pyspark.filter("Salary<=30000").show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Deepa| 46|         6| 30000|
|Sreekumar| 54|         4| 20000|
+---------+---+----------+------+

In [5]:
#If we want to select particular columns only after filtering, we can use select() option

df_pyspark.filter("Salary<=30000").select(["Name","Age"]).show()

+---------+---+
|     Name|Age|
+---------+---+
|    Deepa| 46|
|Sreekumar| 54|
+---------+---+

In [6]:
#Filtering datas in pyspark Method 2

df_pyspark.filter(df_pyspark['Salary']<=30000).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Deepa| 46|         6| 30000|
|Sreekumar| 54|         4| 20000|
+---------+---+----------+------+

In [7]:
#Filtering data based on multiple conditions

df_pyspark.filter((df_pyspark['Salary']>=35000) & (df_pyspark['Age']<=30)).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Vaishnav| 24|        10| 50000|
| Vaisakh| 13|         8| 40000|
+--------+---+----------+------+

In [10]:
#Negation or Not operation (~)

df_pyspark.filter(~(df_pyspark['Salary']<=30000)).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Vaishnav| 24|        10| 50000|
| Vaisakh| 13|         8| 40000|
+--------+---+----------+------+