In [2]:
import pyspark
import pandas

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('pyspark-dataframe-opeartions').getOrCreate()

In [6]:
spark

In [32]:
#Read Dataset method 1

df_pyspark1 = spark.read.csv('test1.csv',header=True,inferSchema=True)

In [33]:
#Getting DataFrame Schema

df_pyspark1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [30]:
#Read dataset method 2
#This method will read the data as String. SO if we need to read integer values, add another argument to csv(); inferSchena=True

df_pyspark2 = spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [31]:
df_pyspark2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [34]:
#Get column names

df_pyspark2.columns

['Name', 'Age', 'Experience']

In [35]:
#Reading data from a particular column

df_pyspark2.select('Name').show()

+---------+
|     Name|
+---------+
| Vaishnav|
|  Vaisakh|
|    Deepa|
|Sreekumar|
+---------+

In [37]:
#Reading data from multiple columns

df_pyspark2.select(['Name','Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
| Vaishnav|        10|
|  Vaisakh|         8|
|    Deepa|         6|
|Sreekumar|         4|
+---------+----------+

In [38]:
#Get Datatypes of column data

df_pyspark2.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [40]:
#Describe option

df_pyspark2.describe().show()

+-------+--------+------------------+-----------------+
|summary|    Name|               Age|       Experience|
+-------+--------+------------------+-----------------+
|  count|       4|                 4|                4|
|   mean|    null|             34.25|              7.0|
| stddev|    null|19.015344680897407|2.581988897471611|
|    min|   Deepa|                13|                4|
|    max|Vaishnav|                54|               10|
+-------+--------+------------------+-----------------+

In [46]:
df_pyspark3 = df_pyspark2.withColumn('Experience after 2 years',df_pyspark2['Experience']+2)

In [48]:
df_pyspark3.show()

+---------+---+----------+------------------------+
|     Name|Age|Experience|Experience after 2 years|
+---------+---+----------+------------------------+
| Vaishnav| 24|        10|                      12|
|  Vaisakh| 13|         8|                      10|
|    Deepa| 46|         6|                       8|
|Sreekumar| 54|         4|                       6|
+---------+---+----------+------------------------+

In [51]:
#Drop column is not an inplace operation. So we need to assign it to a variable if we need to use it later

df_pyspark3.drop('Experience after 2 years').show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
| Vaishnav| 24|        10|
|  Vaisakh| 13|         8|
|    Deepa| 46|         6|
|Sreekumar| 54|         4|
+---------+---+----------+

In [52]:
#Rename column name

df_pyspark3.withColumnRenamed('Name','New Name').show()

+---------+---+----------+------------------------+
| New Name|Age|Experience|Experience after 2 years|
+---------+---+----------+------------------------+
| Vaishnav| 24|        10|                      12|
|  Vaisakh| 13|         8|                      10|
|    Deepa| 46|         6|                       8|
|Sreekumar| 54|         4|                       6|
+---------+---+----------+------------------------+