In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Aggregrate').getOrCreate()

spark

In [4]:
df_pyspark = spark.read.csv('test3.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+------------+------+
|     Name|  Department|Salary|
+---------+------------+------+
| Vaishnav|    Big Data| 50000|
|  Vaisakh|Data Science| 40000|
|    Deepa|Data Science| 30000|
|Sreekumar|         IOT| 20000|
|   Kannan|Data Science| 35000|
|    Rahul|    Big Data| 15000|
|   Navani|         IOT| 25000|
| Vaishnav|         IOT| 30000|
|  Vaisakh|         IOT| 30000|
| Vaishnav|Data Science| 40000|
+---------+------------+------+

In [5]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [8]:
#Group by function
#Different aggregrate functions are sum,mean,count

df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|  Vaisakh|      70000|
|   Kannan|      35000|
|Sreekumar|      20000|
|   Navani|      25000|
|    Rahul|      15000|
|    Deepa|      30000|
| Vaishnav|     120000|
+---------+-----------+

In [9]:
## Group by Departments which gives max salary payout

df_pyspark.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|     105000|
|    Big Data|      65000|
|Data Science|     145000|
+------------+-----------+

In [10]:
#How many employess work in each department

df_pyspark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    4|
|    Big Data|    2|
|Data Science|    4|
+------------+-----+

In [12]:
#We can also apply aggregrate functions directly

df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     315000|
+-----------+

In [17]:
#Who gets the max total salary sorted in descending order

df_pyspark.groupBy('Name').max().orderBy('max(Salary)',ascending=False).show()

+---------+-----------+
|     Name|max(Salary)|
+---------+-----------+
| Vaishnav|      50000|
|  Vaisakh|      40000|
|   Kannan|      35000|
|    Deepa|      30000|
|   Navani|      25000|
|Sreekumar|      20000|
|    Rahul|      15000|
+---------+-----------+